<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>

<header>
    <nav class="navbar navbar-dark bg-dark p-0 shadow">
        <div class="nav-item text-left text-white px-3">
            <span class="fw-bold " th:text="${admin.email}"></span>
            <span>with roles:</span>
            <span th:each="role : ${admin.roles}"
                  th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
            </span>
        </div>
        <ul class="navbar-nav mr-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container-fluid mt-3 ">

    <div class="row">
        <div class="col-md-2 px-0">
            <div class="d-flex flex-column flex-shrink-0 p-0 text-white">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="#admin-panel" data-toggle="pill" class="nav-link active no-refresh" role="tab"
                           aria-current="true">
                            Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="#user-panel" data-toggle="pill" class="nav-link no-refresh" role="tab"
                           aria-current="false">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-10 bg-light">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin-panel" role="tabpanel">
                    <div class="container-fluid">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs border-bottom-0">
                            <li class="nav-item">
                                <a href="#users-table" id="show-users-table" class="nav-link active no-refresh"
                                   data-toggle="tab" aria-current="true" role="tab">
                                    Users Table</a>
                            </li>
                            <li>
                                <a href="#new_user-form" id="show-new-user-form" class="nav-link no-refresh"
                                   data-toggle="tab" aria-current="false" role="tab">
                                    New User</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="users-table" class="tab-pane fade show active">
                                <div class="card">
                                    <div class="container-fluid px-0 bg-light border t">
                                        <h5 class="card-header">
                                            All users</h5>
                                    </div>

                                    <div class="container-fluid mt-4">
                                        <div class="table-responsive">
                                            <table class="table table-striped bg-white">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${users}">
                                                    <td th:text="${user.id}">Id</td>
                                                    <td th:text="${user.username}">First Name</td>
                                                    <td th:text="${user.lastName}">Last Name</td>
                                                    <td th:text="${user.age}">Age</td>
                                                    <td th:text="${user.email}">Email</td>
                                                    <td>
                                            <span th:each="role : ${user.roles}"
                                                  th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
                                                </span>
                                                    </td>

                                                    <td>
                                                        <button class="btn btn-info btn-sm text-white"
                                                                data-toggle="modal"
                                                                th:attr="data-target=${'#editModal'+ user.id}">
                                                            Edit
                                                        </button>

                                                        <div class="modal fade" th:id="'editModal' + ${user.id}"
                                                             tabindex="-1"
                                                             role="dialog" aria-labelledby="editModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel">Edit
                                                                            User</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:method="POST"
                                                                              th:action="@{'/admin/updateauser?id=' + ${user.getId()}}"
                                                                              th:object="${user}">
                                                                            <div class="mb-3">
                                                                                <label for="id"
                                                                                       class="form-label">ID</label>
                                                                                <input type="text" th:value="${user.id}"
                                                                                       id="id" th:name="id"
                                                                                       class="form-control"
                                                                                       placeholder="id"
                                                                                       readonly="readonly"/>
                                                                            </div>
                                                                            <br>
                                                                            <div class="mb-3">
                                                                                <label for="firstName"
                                                                                       class="form-label">First
                                                                                    name</label>
                                                                                <input type="text"
                                                                                       th:value="${user.username}"
                                                                                       class="form-control"
                                                                                       id="firstName"
                                                                                       th:name="username"
                                                                                       placeholder="Введите имя"><br>

                                                                                <label for="lastName"
                                                                                       class="form-label">Last
                                                                                    name</label>
                                                                                <input type="text"
                                                                                       th:value="${user.lastName}"
                                                                                       class="form-control"
                                                                                       id="lastName"
                                                                                       th:name="lastName"
                                                                                       placeholder="Введите фамилию"><br>

                                                                                <label for="age"
                                                                                       class="form-label">Age</label>
                                                                                <input type="text"
                                                                                       th:value="${user.age}"
                                                                                       class="form-control" id="age"
                                                                                       th:name="age"
                                                                                       placeholder="Введите возраст"><br>

                                                                                <label for="email" class="form-label">Email</label>
                                                                                <input type="email"
                                                                                       th:value="${user.email}"
                                                                                       class="form-control" id="email"
                                                                                       th:name="email"
                                                                                       placeholder="Введите Email"><br>

                                                                                <label for="password"
                                                                                       class="form-label">Password</label>
                                                                                <input type="password"
                                                                                       th:value="${user.password}"
                                                                                       th:name="password"
                                                                                       class="form-control"
                                                                                       id="password"
                                                                                       placeholder="Введите пароль"><br>

                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="role">Role</label>
                                                                                <br>
                                                                                <select id="role" name="role">
                                                                                    <option value="USER">USER
                                                                                    </option>
                                                                                    <option value="ADMIN">ADMIN
                                                                                    </option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Close
                                                                                </button>
                                                                                <button type="submit"
                                                                                        class="btn btn-primary">Edit
                                                                                </button>
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <button class="btn btn-danger btn-sm" data-toggle="modal"
                                                                th:data-target="${'#deleteModal'+ user.id}">
                                                            Delete
                                                        </button>

                                                        <div class="modal fade" th:id="${'deleteModal'+ user.id}"
                                                             tabindex="-1"
                                                             aria-labelledby="delete" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteModalLabel">
                                                                            Edit User</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="card-body text-center">
                                                                        <form th:method="POST"
                                                                              th:action="@{'/admin/deleteauser?id=' + ${user.getId()}}"
                                                                              th:object="${user}">

                                                                            <div class="modal-body col-7 mx-auto text-center">
                                                                                <label for="idDelete"
                                                                                       class="form-label fw-bold mb-0">ID</label>
                                                                                <input type="text"
                                                                                       th:value="${user.id}"
                                                                                       class="form-control"
                                                                                       name="id"
                                                                                       id="idDelete" readonly>
                                                                                <br>
                                                                                <label for="firstNameDelete"
                                                                                       class="form-label fw-bold mb-0">First
                                                                                    name</label>
                                                                                <input type="text"
                                                                                       th:value="${user.username}"
                                                                                       class="form-control"
                                                                                       id="firstNameDelete" readonly>
                                                                                <br>
                                                                                <label for="lastNameDelete"
                                                                                       class="form-label fw-bold mb-0">Last
                                                                                    name</label>
                                                                                <input type="text"
                                                                                       th:value="${user.lastName}"
                                                                                       class="form-control"
                                                                                       id="lastNameDelete" readonly>
                                                                                <br>
                                                                                <label for="emailDelete"
                                                                                       class="form-label fw-bold mb-0">Email</label>
                                                                                <input type="text"
                                                                                       th:value="${user.email}"
                                                                                       class="form-control"
                                                                                       id="emailDelete" readonly>
                                                                                <br>
                                                                                <label for="rolesDelete"
                                                                                       class="form-label fw-bold mb-0">Role</label>
                                                                                <br>
                                                                                <select class="form-select"
                                                                                        id="rolesDelete" size="2"
                                                                                        multiple="multiple" disabled>
                                                                                    <option th:each="role : ${user.roles}"
                                                                                            th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
                                                                                    </option>
                                                                                </select>
                                                                                <br>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">Close
                                                                                </button>
                                                                                <input type="submit"
                                                                                       class="btn btn-danger btn-sm"
                                                                                       value="Delete">
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="new_user-form" role="form">
                                <div class="card">
                                    <div class="container-fluid px-0">
                                        <h5 class="card-header">
                                            Add new user</h5>
                                    </div>
                                    <div class="card-body col-5 mx-auto text-center mt-3">
                                        <form th:method="POST" th:action="@{/admin/createauser}" th:object="${admin}">
                                            <label for="firstNameCreate" class="form-label fw-bold mb-0">First
                                                name</label>
                                            <input type="text" class="form-control" id="firstNameCreate"
                                                   placeholder="First name" th:name="username">
                                            <br>
                                            <label for="lastNameCreate" class="form-label fw-bold mb-0">Last
                                                name</label>
                                            <input type="text" class="form-control" id="lastNameCreate"
                                                   placeholder="Last name" th:name="lastName">
                                            <br>
                                            <label for="ageCreate" class="form-label fw-bold mb-0">Age</label>
                                            <input type="text" class="form-control" id="ageCreate" placeholder="Age"
                                                   th:name="age">
                                            <br>
                                            <label for="emailCreate" class="form-label fw-bold mb-0">Email</label>
                                            <input type="text" class="form-control" id="emailCreate" placeholder="Email"
                                                   th:name="email">
                                            <br>
                                            <label for="passwordCreate" class="form-label fw-bold mb-0">Password</label>
                                            <input type="text" class="form-control" id="passwordCreate"
                                                   placeholder="Password"
                                                   th:name="password">
                                            <br>
                                            <div class="mb-3">
                                                <label for="roleCreate">Role</label>
                                                <br>
                                                <select id="roleCreate" name="role">
                                                    <option value="USER">USER
                                                    </option>
                                                    </option>
                                                    <option value="ADMIN">ADMIN
                                                    </option>
                                                </select>
                                            </div>

                                            <br>
                                            <div>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="user-panel" role="tabpanel">
                            <div class="container-fluid">
                                <h2>User information-page</h2>
                                <div class="card">
                                    <div class="container-fluid px-0 bg-light border">
                                        <h5 class="card-header">
                                            About user</h5>
                                    </div>

                                    <div class="container-fluid mt-4">
                                        <div class="table-responsive">
                                            <table class="table table-striped bg-white">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:if="${admin != null}">
                                                    <td th:text="${admin.id}">Id</td>
                                                    <td th:text="${admin.username}">firstName</td>
                                                    <td th:text="${admin.lastName}">lastName</td>
                                                    <td th:text="${admin.age}">age</td>
                                                    <td th:text="${admin.email}">Email</td>
                                                    <td>
                                            <span th:each="role : ${admin.roles}"
                                                  th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
                                            </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>